<h1>Velkommen, <%= user.email %></h1>

<form method="POST" action="/journal/add">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <textarea name="note" required></textarea>
    <button type="submit">Gem</button>
</form>

<ul>
    <% notes.forEach(n => { %>
        <li><%= n.content %></li>
    <% }) %>
</ul>
<%- include('partials/logout_link') %>

