<h2>Opret ny patient</h2>
<form method="POST" action="/register">
    <label>Email:</label><br>
    <input type="email" name="email" required><br>
    <label>Password:</label><br>
    <input type="password" name="password" required><br>
    <button type="submit">Opret</button>
</form>
<a href="/login">Allerede bruger? Log ind</a>
